@font-face {
  font-family: 'Neue Machina';
  src: url('../assets/fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
	font-family: NeueMachina;
	font-display: swap;
	src: url("../assets/fonts/NeueMachina-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../assets/fonts/NeueMachina-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eckhardt Deco';
  src: url('../assets/fonts/EckhardtDeco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
