.main {
  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, #293145 0%, rgba(41, 49, 69, 0) 100%);
    height: 60px;
  }

  .mode-grid {
    flex: 1;
    overflow-y: scroll;
    max-height: 70vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 235px);
    padding: 0 17px 150px;
    gap: 11px;
    justify-content: center;


    > svg {
      width: fit-content;

      &:hover .hov {
        fill: #D1AE1E !important;
      }
    }
  }

  &__header {
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #384156;
    border-radius: 24px;
    margin: 30px 16px 16px;

    @media screen and (max-width: 680px) {
      margin: 5px 16px 16px;
    }
  }

 .info {
    display: flex;
    color: #4E5E80;
  }

  &__rooms {
    color: #B5C4E3;
    margin-left: 16px;
  }

  .counter {
    padding: 6px 8px;
    background: #313B52;
    border-radius: 50%;
    margin-left: 4px;
    font-size: 12px;
  }

  &__overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:  -1px;
    z-index: 100;
    background: #252E40;
    width: 1769px;
    height: 112px;
    clip-path: path('M0 112C391.797 111.091 659 -7.79844e-05 884.5 -6.10351e-05C1110 -4.40859e-05 1376.61 111.83 1769 112H0Z');
    display: flex;
    align-items: center;
    justify-content: center;

    .info {
      display: flex;
      gap: 16px;

      .title {
        color: #4E5E80;
        text-align: center;
        margin-bottom: 8px;
      }

      .amount {
        color: #B5C4E3;
        text-align: center;
      }
    }
  }


  .button-mode {
    padding: 11px 15px;
    width: 80px;
    border-radius: 22px;
    background: #313B52;
    border: 0;
    outline: 0;
    color: #B5C4E3;

    &-active {
      color: #4E5E80;
      background: #222A3A;
    }
  }

  .mobile-toggle-mode {
    display: none;
  }

  @media screen and (max-width: 565px) {
    &__header {
      padding: 12px 8px;
    }

    &__modes {
      display: none;
    }

    .mobile-toggle-mode {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 6px;
      padding: 8px;
      background: #222A3A url("../assets/images/svg/ic_list.svg") no-repeat center;
    }

    .toggle-list {
      background: #222A3A url("../assets/images/svg/slaid.svg") no-repeat center;
    }
  }

  .mode-grid {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}




.swiper {

  &-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &-slide-prev, &-slide-next {
    margin-bottom: 30px;
    transition: margin-bottom 1s ease;
  }

  &-slide-active {
    transition:  .3s ease;
    margin-bottom: 60px;
  }

  &::before, &::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 330px;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    background: linear-gradient(90deg, rgba(41,49,69,1) 0%, rgba(41, 49, 69, 0) 100%);
    left: 0;
  }

  &::after {
    background: linear-gradient(-90deg, rgba(41,49,69,1) 0%, rgba(41, 49, 69, 0) 100%);
    right: 0;
  }
  &-slide {
    width: 330px !important;
    background: url("../assets/images/room.webp");
    background-size: cover;
    height: 630px !important;
    transition: background ,3s ease;

    &:hover {
      background: url("../assets/images/room-hover.webp");
    }

    @media screen and (max-width: 565px) {
      width: 170px !important;
      height: 320px !important;
      background: url("../assets/images/room-mobile.webp") no-repeat;

      &-prev, &-active, &-next {
        margin-bottom: 0;
      }
    }
  }

  &-button-prev, &-button-next {
    height: 0 !important;
    width: 0 !important;
    right: 40px !important;
    left: auto;
  }

  &-button-prev {
    left: 40px !important;
  }

  &-button-next {
    transform: rotate(180deg);
  }

  &-button-prev::after, &-button-next::after {
    box-sizing: border-box;
    width: 60px !important;
    height: 60px !important;
    padding: 22px;
    border-radius: 50%;
    font-family: sans-serif !important;
    content: '' !important;
    background-size: cover;
    background-origin: content-box;
    background: #222A3A url("../assets/images/svg/chevron.svg") no-repeat center;
    position: absolute;

    @media screen and (max-width: 565px) {
      width: 40px !important;
      height: 40px !important;
    }
  }

  @media screen and (max-width: 565px) {
    &::before, &::after {
      width: 80px;
    }
  }
}
