@import "fonts";

.wrapper {
  @media screen and (max-width: 820px) {
    gap: 0;
    grid-template-areas:
    "mobile-header mobile-header mobile-header"
    "header header header"
    "main main main"
    "sidebar sidebar sidebar";
    grid-template-rows: 50px 90px 1fr 76px;
    grid-template-columns: 1fr;

    .mobile-header {
      display: flex;
    }
  }

  .footer {
    @media screen and (max-width: 820px) {
      display: none;
    }
  }

  .sidebar {
    @media screen and (max-width: 820px) {
      padding: 16px 30px;
      border-radius: 0 0 24px 24px;

      &__logo {
        display: none;
      }

      &__navigation {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        a {
          flex: 33.333%;
          li {
            padding: 14px;
          }
        }
      }

      &__links {
        display: none;
      }
    }
  }
}

.main {
  padding: 30px 15px 0;

  &__header {
    position: relative;
    background: #293145;
    border: 1px solid #384156;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4E5E80;
  }

  @media screen and (max-width: 750px){
    padding: 0 15px 0;
  }
}


.filters {
  display: flex;
  gap: 0 8px;
  align-items: center;

  @media screen and (max-width: 750px){
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    flex-direction: column;
    background: #293145;
    border-radius: 12px;
    gap: 10px;
    padding: 8px;

    .filter {
      background: #313B52;
      border-radius: 22px;
      width: 100%;
    }
  }

  &-active {
    display: flex !important;
  }
}

.filters-btn {
  border: 0;
  outline: none;
  padding: 0;
  height: 30px;
  width: 30px;
  background: #222A3A;
  border-radius: 6px;

  &-clicked svg path {
    fill: #E7DF36;
  }

  @media screen and (min-width: 750px){
    display: none;
  }
}

.filter {
  padding: 11px 25px;
  background: #222A3A;
  border-radius: 22px;
  cursor: pointer;
  transition: background .3s ease;
  text-align: center;

  &-active {
    background: #313B52;

    .filter__value {
      color: #B5C4E3;
    }

  }

  &__value {
    margin-left: 5px;
  }

  &:hover {
    background: #252E40;
  }
}

.table {
  height: 157px;
  background: url("../assets/images/table.webp") no-repeat center;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  .title {
    color: #4E5E80;
    margin-top: 13px;
    margin-bottom: 4px;
  }

  &__num {
    color: #B5C4E3;
    margin-bottom: auto;
    font-family: 'Eckhardt Deco', sans-serif;
    font-weight: 400;
    font-size: 21px;
  }

  &__places {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    color: #4E5E80;
    margin-bottom: 13px;
    background: #374662;
    border-radius: 30px;
    padding: 12px 17px;

    span {
      color: #B5C4E3;
    }
  }

  @media screen and (min-width: 900px){
    &:hover {
      background: url("../assets/images/table-hover.webp") no-repeat center;

      .title {
        color: #D4AD2C;
      }

      .table__num {
        color: #6B560F;
      }

      .table__places {
        background: #D4AD2C;
        color: #E8D837;

        span {
          color: #6B560F;
        }
      }
    }


  }
}

.main__out {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 16px 0;
  max-height: 600px;
  overflow-y: scroll;


  @media screen and (max-width: 1800px){
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1550px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1180px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 900px){
    .table {
      background: url("../assets/images/table-medium.webp") no-repeat center;
    }
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 780px){
    .table {
      background: url("../assets/images/table-small.webp") no-repeat center;
      font-size: 14px;
      justify-content: center;
      background-size: cover;

      &__num {
        font-size: 14;
        margin: 0;
      }

      &__places {
        gap: 4px;
        background: none;
        padding: 4px;
      }
    }
    gap: 8px;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 650px){
    gap: 13px 8px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 490px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// TODO: Сделать адаптив хедера
