.main {
  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__out {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	overflow: hidden;
	position: relative;

	&::after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: radial-gradient(63.02% 56.3% at 50% 50%, rgba(40, 49, 69, 0) 0%, #283145 100%);
	  pointer-events: none;
	}
  }
}

.main__places {
  position: relative;
  .main__header {
	color: #B5C4E3;

	.basket {
	  background: #222A3A;
	  border-radius: 12px;
	  padding: 14px;
	  transition: background .3s ease;

	  &-clicked svg path{
		fill: #E7DF36;
	  }

	  &:hover {
		background: #313B52;
	  }
	}

	.header__info {
	  display: flex;
	  gap: 17px;

	  color: #4E5E80;

	}

	.place-info {
	  color: #B5C4E3;
	  span {
		font-size: 12px;
		line-height: 16px;
		background: #313B52;
		border-radius: 15px;
		padding: 8px;
	  }
	}

	@media screen and (max-width: 680px){
		margin: 8px 8px 0;
	  	padding: 8px;
	}

	@media screen and (max-width: 585px) {
	  border-radius: 12px;
	}
  }
}

.player__badge {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: #222A3A;
  width: 145px;
  height: 60px;
  gap: 15px;
  z-index: 10;

  .player__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
  }

  .player__title {
	color: #4E5E80;
  }

  .player__number {
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	color: #B5C4E3;
  }
}

.place {
  position: relative;
  flex: 1;
  height: 390px;
  max-width: 1200px;
  background: url("../assets/images/place-table.webp") center no-repeat;

  // Карточка игрока
  .player {
	cursor: pointer;
	transition: all .3s ease;
	position: absolute;
	display: flex;
	justify-content: center;
	width: 150px;
	max-height: 60px;

	&__card {
	  display: none;
	}


	&-loading {
	  pointer-events: none;
	  position: relative;
	  overflow: hidden;

	  .player__card {
		display: none !important;
	  }

	  .player__title {
		color: transparent !important;
	  }

	  .player__number {
		color: transparent !important;
	  }

	  &::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border-top: 1px solid #222A3A;
		border-bottom: 1px solid #4E5E80;
		animation: spinner .9s infinite;
	  }
	}


	// Состояние игрока с картой
	&-active {
	  .player__badge {
		gap: 15px;
		background: #313B52;
	  }
	  .player__card {
		display: block;
		width: 40px;
		height: 40px;
		object-fit: cover;
	  }
	}

	&__armchair {
	  background: url("../assets/images/chair.webp") center no-repeat;
	  height: 240px;
	  width: 240px;
	  position: absolute;
	}

	// =====

	&:hover {
	  .player__badge {
		background: #EFB23D;
		box-shadow: 0 0 30px 5px rgba(231, 223, 54, 0.2);

		.player__title {
		  color: #D4AD2C;
		}

		.player__number {
		  color: #6B560F;
		}
	  }
	}

	// adaptive

	// Слабонервным не смотреть ((
	&:nth-child(1) {
	  left: 50px;
	  top: -15px;
	  .player__armchair {
		transform: rotate(50deg);
		left: -170px;
		top: -220px;
	  }
	}
	&:nth-child(2) {
	  left: 340px;
	  top: -15px;
	  .player__armchair {
		transform: rotate(90deg);
		top: -240px;
	  }
	}
	&:nth-child(3) {
	  left: 750px;
	  top: -15px;
	  .player__armchair {
		transform: rotate(90deg);
		top: -240px;
	  }
	}
	&:nth-child(4) {
	  right: 50px;
	  top: -15px;
	  .player__armchair {
		transform: rotate(140deg);
		top: -220px;
		right: -170px;
	  }
	}
	&:nth-child(5) {
	  right: -70px;
	  top: 180px;
	  .player__armchair {
		transform: rotate(180deg);
		top: -100px;
		right: -240px;
	  }
	}
	&:nth-child(6) {
	  right: 50px;
	  bottom: -20px;
	  .player__armchair {
		transform: rotate(-140deg);
		bottom: -220px;
		right: -180px;
	  }
	}
	&:nth-child(7) {
	  left: 750px;
	  bottom: -20px;
	  .player__armchair {
		transform: rotate(-90deg);
		bottom: -240px;
	  }
	}
	&:nth-child(8) {
	  left: 340px;
	  bottom: -20px;
	  .player__armchair {
		transform: rotate(-90deg);
		bottom: -240px;
	  }
	}
	&:nth-child(9) {
	  left: 50px;
	  bottom: -20px;
	  .player__armchair {
		transform: rotate(-50deg);
		left: -170px;
		bottom: -220px;
	  }
	}
	&:nth-child(10) {
	  left: -70px;
	  bottom: 180px;
	  .player__armchair {
		top: -100px;
		left: -240px;
	  }
	}

	@media screen and (max-width: 1520px) {
	  &:nth-child(5) {
		right: 10px;
		top: 180px;
	  }
	  &:nth-child(10) {
		left: 10px;
		bottom: 180px;
	  }
	}
	@media screen and (max-width: 1277px) {
	  &:nth-child(2) {
		left: 270px;
		top: -15px;
	  }
	  &:nth-child(3) {
		left: 550px;
		top: -15px;
	  }
	  &:nth-child(7) {
		left: 550px;
	  }
	  &:nth-child(8) {
		left: 270px;
		bottom: -15px;
	  }
	}
  }
  @media screen and (max-width: 1070px) {
	.player__armchair {
	  display: none !important;
	}
	background: url("../assets/images/table-tablet.webp") center no-repeat;
	height: 615px;
	max-width: 650px;



	.player {
	  &:nth-child(1) {
		left: 80px;
		top: -25px;
	  }
	  &:nth-child(2) {
		left: 380px;
		top: -25px;
	  }
	  &:nth-child(3) {
		right: -50px;
		top: 100px;
	  }
	  &:nth-child(4) {
		right: -50px;
		top: 250px;
	  }
	  &:nth-child(5) {
		right: -50px;
		top: 400px;
	  }
	  &:nth-child(6) {
		left: 380px;
		bottom: -20px;
	  }
	  &:nth-child(7) {
		left: 80px;
		bottom: -15px;
	  }
	  &:nth-child(8) {
		left: -70px;
		top: 400px;
	  }
	  &:nth-child(9) {
		left: -70px;
		top: 250px;
	  }
	  &:nth-child(10) {
		left: -70px;
		top: 100px;
	  }
	}
  }
  @media screen and (max-width: 925px) {
	.player {
	  &:nth-child(2) {
		left: unset;
		right: 90px;
		top: -25px;
	  }
	  &:nth-child(3) {
		left: unset;
		right: 10px;
		top: 100px;
	  }
	  &:nth-child(4) {
		right: 10px;
		top: 250px;
	  }
	  &:nth-child(5) {
		right: 10px;
		top: 400px;
	  }
	  &:nth-child(6) {
		left: unset;
		right: 90px;
		bottom: -25px;
	  }
	  &:nth-child(8) {
		left: 10px;
		top: 400px;
	  }
	  &:nth-child(9) {
		left: 10px;
		top: 250px;
	  }
	  &:nth-child(10) {
		left: 10px;
		top: 100px;
	  }
	}
  }
  @media screen and (max-height: 990px) and (max-width: 1070px) {
	.player {
	  &:nth-child(1) {
		top: 20px;
	  }
	  &:nth-child(2) {
		top: 20px;
	  }
	  &:nth-child(6) {
		bottom: 20px;
	  }
	  &:nth-child(7) {
		bottom: 20px;
	  }
	}
  }
  @media screen and (max-height: 900px) and (max-width: 1070px) {
	.player {
	  &:nth-child(1) {
		top: 70px;
	  }
	  &:nth-child(2) {
		top: 70px;
	  }
	  &:nth-child(3) {
		top: 170px;
	  }
	  &:nth-child(4) {
		top: 280px;
	  }
	  &:nth-child(5) {
		top: 400px;
	  }
	  &:nth-child(6) {
		bottom: 70px;
	  }
	  &:nth-child(7) {
		bottom: 70px;
	  }
	  &:nth-child(8) {
		top: 400px;
	  }
	  &:nth-child(9) {
		top: 280px;
	  }
	  &:nth-child(10) {
		top: 170px;
	  }
	}
  }
  @media screen and (max-width: 650px) {
	max-width: 370px;
	height: 470px;
	background: url("../assets/images/place-mobile.webp") center no-repeat;
	background-size: cover;

	.player {
	  width: 90px;
	  max-height: 44px;
	  display: flex;
	  align-items: center;
	  justify-content: center;

	  &:nth-child(1) {
		left: 140px;
		top: -20px;
	  }
	  &:nth-child(2) {
		left: unset;
		right: -30px;
		top: 40px;
	  }
	  &:nth-child(3) {
		right: -50px;
		top: 150px;
	  }
	  &:nth-child(4) {
		right: -50px;
		top: 270px;
	  }
	  &:nth-child(5) {
		right: -30px;
		bottom: 30px;
		top: unset;
	  }
	  &:nth-child(6) {
		left: unset;
		right: 140px;
		bottom: -30px;
	  }
	  &:nth-child(7) {
		left: -30px;
		bottom: 30px;
		top: unset;
	  }
	  &:nth-child(8) {
		left: -50px;
		top: 270px;
	  }
	  &:nth-child(9) {
		left: -50px;
		top: 150px;
	  }
	  &:nth-child(10) {
		left: -40px;
		right: unset;
		top: 40px;
	  }
	}
	.player__badge {
	  gap: 4px !important;

	  .player__card {
		width: 30px;
		height: 33px;
		img {
		  width: 30px;
		  height: 33px;
		}
	  }

	  .player__info {
		gap: 0;
	  }

	  .player__title {
		font-size: 12px;
	  }

	  .player__number {
		font-size: 12px !important;
	  }
	}
  }
  @media screen and (max-width: 550px) {
	max-width: 240px;
	height: 330px;
	.player {
	  width: 90px;
	  max-height: 44px;
	  display: flex;
	  align-items: center;
	  justify-content: center;

	  &:nth-child(1) {
		left: 70px;
		top: -20px;
	  }
	  &:nth-child(2) {
		left: unset;
		right: -30px;
		top: 40px;
	  }
	  &:nth-child(3) {
		right: -50px;
		top: 110px;
	  }
	  &:nth-child(4) {
		right: -50px;
		top: 180px;
	  }
	  &:nth-child(5) {
		right: -30px;
		bottom: 30px;
		top: unset;
	  }
	  &:nth-child(6) {
		left: unset;
		right: 70px;
		bottom: -30px;
	  }
	  &:nth-child(7) {
		left: -30px;
		bottom: 30px;
		top: unset;
	  }
	  &:nth-child(8) {
		left: -50px;
		top: 180px;
	  }
	  &:nth-child(9) {
		left: -50px;
		top: 110px;
	  }
	  &:nth-child(10) {
		left: -40px;
		right: unset;
		top: 40px;
	  }
	}
  }
}

@media screen and (max-width: 950px) {
  .wrapper {
	padding: 10px 10px 0;
  }
}


// Modal

.modal {
  position: absolute;
  z-index: 200;
  right: 16px;
  background: #293145;
  border-radius: 24px;
  overflow: hidden;
  flex-direction: column;
  width: 470px;
  height: calc(100% - 32px);
  color: #4E5E80;
  display: none;

  &-active {
	display: flex;
  }

  &__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 27px 16px;
	border-bottom: 1px solid #384156;
	background: #293145;
  }

  &__title {
	margin: 0;

	.place-number {
	  color: #B5C4E3;
	  margin-left: 6px;
	  word-wrap: normal;
	}
  }

  &__buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
  }

  &__btn-submit {
	background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 22px;
	color: #313B52;
	font-weight: 700;
	cursor: pointer;
  }

  &__back {
	border: 2px solid #384156;
	border-radius: 12px;
	padding: 12px 14px;
	transition: background .2s ease;

	&:hover {
	  background: #252E40;
	}
  }

  &-loading {
	* {
	  display: none;
	}

	&:before {
	  position: absolute;
	  content: '';
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  width: 80px;
	  height: 80px;

	  border-radius: 50%;
	  border-width: 1px 1px 3px 1px;
	  border-style: solid;
	  border-color: #313B52 #313B52 #B5C4E3 #313B52;

	  animation: spinner 1s infinite;
	}
  }

  // basket empty
  &-basket-empty {
	background: #293145 url('../assets/images/modal-empty-bg.webp') no-repeat bottom;
	height: 100%;

	.text {
	  text-align: center;
	  margin: 140px 0 0;

	  p {
		margin: 0;
	  }

	  &-bold {
		margin-top: 10px;
		color: #B5C4E3;
	  }
	}
	@media screen and (max-height: 750px){
	  .text {
		margin: 70px 0 0
	  }
	}
	@media screen and (max-height: 600px){
	  .text {
		margin: 40px 0 0
	  }
	}
  }

  &-card-select {
	display: grid;
	grid-template-columns: repeat(auto-fit, 66px);
	gap: 8px;
	justify-content: center;
	overflow: scroll;
	position: relative;
	box-shadow: inset 0 -50px 9px -7px rgba(0,0,0,0.4);

	.card {
	  position: relative;
	  z-index: -1;
	}
  }

  &-places {
	position: relative;
	flex: 1;

	.modal-top__buttons {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  gap: 8px;
	  margin: 16px 16px 0;
	}

	.top-btn {
	  border-radius: 24px;
	  background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
	  color: #313B52;
	  font-weight: 700;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  padding: 20px;
	  flex: calc(33.333% - 16px);

	  border: none;
	  outline: none;
	}

	.btn-info {
	  flex-direction: column;
	  padding: 9px;
	  background: #222A3A;
	  color: #4E5E80;

	  .place-number {
		color: #B5C4E3;
	  }
	}

	.places-grid {
	  display: grid;
	  margin-top: 8px;
	  grid-template-columns: repeat(auto-fit, 140px);
	  gap: 8px;
	  padding: 0 16px;
	}

	.modal-bottom__buttons {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  padding: 16px;
	  gap: 8px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background: #313B52;

	  .bottom-btn {
		padding: 11px 0;
		flex: 50%;
		background: #222A3A;
		border-radius: 12px;
		border: none;
		outline: none;
		color: #B5C4E3;
		transition: background .3s ease;

		&:hover {
		  background: #1E2636;
		}

		span {
		  margin-right: 9px;
		}
	  }
	}
  }

  @media screen and (max-width: 750px){
	width: calc(100% - 32px);
	margin-left: 16px;
  }
  @media screen and (max-width: 470px){
	&__btn-submit {
	  border-radius: 6px;
	  font-size: 12px;
	  padding: 5px 12px;
	}
	&__buttons {
	  gap: 8px;
	  margin-left: 10px;
	}
	&__back {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 30px;
	  width: 30px;
	  padding: 9px;
	  border-radius: 6px;
	}
  }
}
