.preloader {

  display: none;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &::before {
    width: 140px;
    height: 140px;
    background: #222A3A url("../assets/images/svg/loader-logo.svg") no-repeat center;
    z-index: 2;
  }

  &::after {
    width: 142px;
    height: 142px;
    border: 1px solid transparent;
    border-top-color:#B5C4E3;
    animation: spinner .7s linear infinite;
  }
}

@keyframes spinner {
  from {
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) ;
  }
}
