<footer class="footer">
    <div class="footer__markets-links">
        Markets link:
        <div class="list">
            <a href="#"><img src="./assets/images/svg/1.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/2.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/3.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/4.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/5.svg" alt="link"></a>
        </div>
    </div>
    <div class="footer__social">
        <a href="#"><img src="./assets/images/svg/discord.svg" alt="social"></a>
        <a href="#"><img src="./assets/images/svg/twitter.svg" alt="social"></a>
    </div>
</footer>
