<header class="header">

    <div class="cond1">
        <button class="btn header__btn-connect">Connect wallet</button>
    </div>
    <div class="cond2 hidden">
        <span class="token">DFYrNUgxguiGKmZKdbGga...</span>
        <div class="dropdowns">
            <div class="dropdown dropdown-home">
                Rooms
                <div class="selected">16</div>
                <div class="caret">
                    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.43301 5.25006C4.24056 5.5834 3.75944 5.58339 3.56699 5.25006L0.968911 0.750061C0.776461 0.416728 1.01702 6.16456e-05 1.40192 6.1612e-05L6.59808 6.11577e-05C6.98298 6.11241e-05 7.22354 0.416728 7.03109 0.750061L4.43301 5.25006Z" fill="#B5C4E3"/>
                    </svg>
                </div>
            </div>
            <div class="dropdown dropdown-tables">
                Tables
                <div class="selected">8</div>
                <div class="caret">
                    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.43301 5.25006C4.24056 5.5834 3.75944 5.58339 3.56699 5.25006L0.968911 0.750061C0.776461 0.416728 1.01702 6.16456e-05 1.40192 6.1612e-05L6.59808 6.11577e-05C6.98298 6.11241e-05 7.22354 0.416728 7.03109 0.750061L4.43301 5.25006Z" fill="#B5C4E3"/>
                    </svg>
                </div>
            </div>
        </div>
        <span class="places">
            Places
            <span>5/6</span>
        </span>
        <button class="btn btn-claim">Claim</button>
    </div>
</header>
