<main class="main">

    <div class="main__header">
        <div class="info">
            <span>The lobby</span>
            <div class="main__rooms">
                Total rooms <span class="counter">16</span>
            </div>
        </div>
        <div class="main__modes">
            <button class="button-mode mode-slide button-mode-active">slide</button>
            <button class="button-mode mode-list">list</button>
        </div>
        <button class="mobile-toggle-mode button-mode toggle-slide"></button>
    </div>

    <div class="main__out">
        <div class="preloader"></div>
    </div>

    <div class="main__overlay">
        <div class="info">
            <div class="info__item">
                <div class="title">available tables</div>
                <div class="amount">234</div>
            </div>
            <div class="info__item">
                <div class="title">empty tables</div>
                <div class="amount">102</div>
            </div>
            <div class="info__item">
                <div class="title">time game</div>
                <div class="amount">24+2</div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</main>
