<main class="main">

    <header class="main__header">
        <div class="info-text">Poker room 14 Level</div>
        <div class="filters">
            <div class="filter filter-active">all<span class="filter__value"> 234</span></div>
            <div class="filter">empty<span class="filter__value"> 102</span></div>
            <div class="filter">сooldown<span class="filter__value"> 12</span></div>
            <div class="filter">gaming<span class="filter__value"> 24+2</span></div>
        </div>
        <button class="filters-btn">
            <img src="../assets/images/svg/filter.svg" alt="filter">
        </button>
    </header>

    <div class="main__out"></div>

</main>
