<main class="main">
  <div class="header-wrapper">
    <header class="main__header">
      <div class="info-text">14 Level</div>
      <div class="filters">
        <div class="filter filter-active">
          all<span class="filter__value"> 234</span>
        </div>
        <div class="filter filter-loading">
          empty<span class="filter__value"> 102</span>
        </div>
        <div class="filter">сooldown<span class="filter__value"> 12</span></div>
        <div class="filter">gaming<span class="filter__value"> 24+2</span></div>
      </div>

      <button class="filters-btn">
        <svg
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.0024 14C6.71979 14 6.48307 13.916 6.29222 13.748C6.10072 13.5806 6.00496 13.3729 6.00496 13.125V7.875L0.21985 1.4C-0.0295087 1.10833 -0.0667462 0.802083 0.108137 0.48125C0.282355 0.160417 0.585575 0 1.0178 0H14.9819C15.4141 0 15.7176 0.160417 15.8925 0.48125C16.0667 0.802083 16.0292 1.10833 15.7798 1.4L9.99469 7.875V13.125C9.99469 13.3729 9.89927 13.5806 9.70843 13.748C9.51692 13.916 9.27987 14 8.99726 14H7.0024Z"
            fill="#fff"
          />
        </svg>
      </button>
    </header>
  </div>

  <div class="main__out">
    <div class="preloader"></div>
  </div>
  <div class="mask"></div>
</main>
