<nav class="mobile-menu">
    <ul class="mobile-menu__links">
        <li><a href="">Help</a></li>
        <li><a href="">Rules</a></li>
    </ul>
    <div class="mobile-menu__other-links">
        <div class="markets-links">
            <span>Markets link:</span>
            <a href="#"><img src="./assets/images/svg/1.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/2.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/3.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/4.svg" alt="link"></a>
            <a href="#"><img src="./assets/images/svg/5.svg" alt="link"></a>
        </div>
        <div class="mobile-menu__social">
            <a href="#"><img src="./assets/images/svg/discord.svg" alt="social"></a>
            <a href="#"><img src="./assets/images/svg/twitter.svg" alt="social"></a>
        </div>
    </div>
</nav>
